# Data cleaning notebook

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

## Load the Dataset
In this section, we load the raw dataset from the CSV file and display the first few rows to get an initial understanding of the data.

In [3]:
df = pd.read_csv('../data/raw/DataScientist.csv')

df.head()

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1
1,1,1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1
2,2,2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,True
3,3,3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1
4,4,4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3909 entries, 0 to 3908
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         3909 non-null   int64
 1   index              3909 non-null   int64
 2   Job Title          3909 non-null   object
 3   Salary Estimate    3909 non-null   object
 4   Job Description    3909 non-null   object
 5   Rating             3909 non-null   float64
 6   Company Name       3909 non-null   object
 7   Location           3909 non-null   object
 8   Headquarters       3909 non-null   object
 9   Size               3909 non-null   object
 10  Founded            3909 non-null   int64
 11  Type of ownership  3909 non-null   object
 12  Industry           3909 non-null   object
 13  Sector             3909 non-null   object
 14  Revenue            3909 non-null   object
 15  Competitors        3909 non-null   object
 16  Easy Apply         3909 non-null   object
dtypes: float64(1), int64(3), object(13)
memory usage: 519.3+ KB

## Replace Invalid Values
We replace invalid values (`-1`) in the `Rating`, `Founded`, and `Size` columns with appropriate values or `NaN`.

In [5]:
df.describe()

        Unnamed: 0        index       Rating      Founded
count  3909.000000  3909.000000  3909.000000  3909.000000
mean   1954.000000  2167.446662     3.283576  1479.154771
std    1128.575429  1247.657849     1.575749   855.750138
min       0.000000     0.000000    -1.000000    -1.000000
25%     977.000000  1121.000000     3.200000  1625.000000
50%    1954.000000  2161.000000     3.700000  1976.000000
75%    2931.000000  3249.000000     4.100000  2002.000000
max    3908.000000  4379.000000     5.000000  2020.000000

- **Rating**: Replace `-1` with `NaN`

In [89]:
df['Rating'] = df['Rating'].replace(-1, pd.NA)

- **Founded**: Replace `-1` with `NaN`

In [75]:
df['Founded'] = df ['Founded'].replace(-1, pd.NA)

In [91]:
print(df['Size'].unique())
print(df['Size'].dtype)

['501 to 1000 employees' '1001 to 5000 employees' '1 to 50 employees'
 '201 to 500 employees' '51 to 200 employees' '10000+ employees'
 '5001 to 10000 employees' 'Unknown']
object

- **Size**: Strip whitespace and replace `-1` with `Unknown`

In [7]:
df['Size'] = df['Size'].str.strip()
df['Size'] = df['Size'].replace('-1', pd.NA)
print(df['Size'].unique())

['501 to 1000 employees' '1001 to 5000 employees' '1 to 50 employees'
 '201 to 500 employees' '51 to 200 employees' '10000+ employees'
 '5001 to 10000 employees' 'Unknown' <NA>]

## Convert Data Types
Convert the `Rating` and `Founded` columns to numeric types to handle missing values and facilitate further analysis.

In [8]:
df['Rating'] = pd.to_numeric(df['Rating'], errors='coerce')
df['Founded'] = pd.to_numeric(df['Founded'], errors='coerce')

## Convert Data Types
Convert the `Rating` and `Founded` columns to numeric types to handle missing values and facilitate further analysis.

In [9]:
df.to_csv('../data/processed/DataScientist_cleaned.csv', index=False)